#define ENABLE_BLUETOOTH
#define ENABLE_LORA
#define ENABLE_OLED
#define ENABLE_OTA

const char *ssid = "MyWiFi";
const char *password = "MyWiFiPassword";

const char *ota_password = "my-ota-password";

const char *mqtt_server = "my-mqtt-server.home";
const int mqtt_port = 1883;
const char *mqtt_user = "";
const char *mqtt_password = "";

const int bluetooth_scan_time = 5;
