#define ENABLE_BLUETOOTH

const char *ssid = "MyWiFi";
const char *password = "MyWiFiPassword";
const char *mqtt_server = "MyMQTTServer";
const int mqtt_port = 1883;
const int bluetooth_scan_time = 5;
